@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    min-height: 100vh;
    padding-top: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    font-family: 'Montserrat', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon {
    position: absolute;
    top: 40px;
    right: 120px;
}

.profile-icon img {
    width: 75px;  /* adjust as needed */
    height: 75px; /* adjust as needed */
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-icon:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1; /* adjust as needed */
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Montserrat';
}

.transaction-history {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
    max-height: 500px; /* Adjust as needed */
    overflow-y: auto;
    text-align: center;
}

.transaction {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction p {
    margin: 0 0 10px;
    line-height: 1.6;
}

.transaction p:last-child {
    margin-bottom: 0;
}

#back-button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#back-button:hover {
    background-color: darkgreen;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.empty-state-image {
    max-width: 150px; /* Adjust as needed */
    margin-bottom: 20px;
}
