@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 10;
    background-color: #f0f0f0;
}

header {
    background-color: #80b6fa;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Montserrat';
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* align items to the start of the container */
    padding-left: 20px; /* add some space on the left */
}

.logo-container img {
    margin-right: 10px;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button,
.button-container input[type="submit"] {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#cancel-button {
    background-color: red;
    color: white;
}

#pay-button {
    background-color: green;
    color: white;
    cursor: pointer;
}

#pay-button:hover {
    background-color: darkgreen;
}

#cancel-button:hover {
    background-color: darkred;
}