<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="../index.html" class="logo">
            <div class="logo-container">
                <img src="../images/logo.png" alt="Logo" height="50" width="75">
                <span>ExchangExpress</span>
            </div>
        </a>
    </header>
    <br><br><br><br>
    <div class="wrapper">
        <h1>Register</h1>
        <form action="./register.php" method="get" enctype="multipart/form-data">
            <input type="text" placeholder="Username" id="username" name="username" required>
            <input type="email" placeholder="Email" id="email" name="email" required>
            <input type="password" placeholder="Password" id="password" name="password" required>
            <input type="submit" value="Sign Up"><br><br>
        </form>
        <!--<a href="./register.php">
            <button>Sign Up</button>
        </a>-->
        <div class="member">
            Already a member? <a href="./login.html">
                Login Here
            </a>
        </div>
    </div>
</body>
</html>